<main>
  <h1 style="margin-bottom: 1rem;">Followers for Google</h1>
  <nav>
    <input style="margin-right: 0.5rem" id="user_name" [(ngModel)]="userName" type="text">
    <button (click)="getFollowers()">Get followers</button>
  </nav>
  <table style="margin-top: 1rem;">
    @for (follower of followers; track follower.id; let index = $index) {
      <tr>
        <td>
          <img [src]="follower.avatar_url" width="150">
        </td>
        <td>
          <h2 style="margin-top: 0">{{ index }}: {{follower.login}}</h2>
          <a [href]="follower.html_url">{{follower.html_url}}</a>
        </td>
      </tr>
    }
    @empty {
      <tr>
        <td>
          No items found
        </td>
      </tr>
    }
  </table>
</main>
